<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div th:replace="fragments/header :: header"></div>
    
</head>
<body>
<div class="container table">
    <div class="card">
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Confirmation</th>
                        <th>Review</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="appointment:${appointments}">
                        <td th:text="${appointment.title}"></td>
                        <td th:text="${appointment.description}"></td>
                        <td th:text="${appointment.isShare()}"></td>


                        <td><a th:href="@{/editAppointment/{id}(id=${appointment.id})}" class="glyphicon glyphicon-edit link"></a> </td>
                        <td><a th:href="@{/deleteAppointment/{id}(id=${appointment.id})}" class="glyphicon glyphicon-trash link"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer id="footer">
<div th:replace="fragments/footer :: footer"></div>
</footer>
</html>